name: "Continuous Integration"

on:
  pull_request:
    branches: 
      - continuous-integration-workflow
    types:
      - closed

jobs:
  if-merged:
    if: ${{ github.event.pull_request.merged }}
    runs-on: ubuntu-latest
    steps:
    - run: |
        echo The PR was merged
