/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

 .logs_box {
    max-width: 100%;
    max-height: 477px;
    border: 1px solid #ccc;
    padding: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
}

.log_entry {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.log_entry_api {
    background-color: #f2f2f2;
    border: 1px solid #51ff00;
    padding: 10px;
    margin-bottom: 10px;
}

.log_entry_api_error {
    background-color: #f2f2f2;
    border: 1px solid #ff0000;
    padding: 10px;
    margin-bottom: 10px;
}

.logs_box strong {
    font-weight: bold;
}

.wp-core-ui .button, .wp-core-ui .button-secondary{
    vertical-align: unset;
}

.openedx-jwt-token-input {
    flex: 1;
}

#generate-jwt-token {
    margin-left: 10px;
}

#namediv input[type="text"],
#namediv input[type="password"],
#namediv input[type="email"] {
    width: 300px;
}

#namediv select {
    width: 300px;
}

#namediv input[type="checkbox"] {
    width: 16px;
    height: 16px;
}

.gray_zone {
    background: #f8f8f8;
}

.form-table td {
    padding: 20px 20px 20px 20px;
}

.first{
    width: 10%;
}

.first_zone{
    border-top: 1px solid rgb(197, 197, 197);   
}

.sync_button{
    float: right;
}

.tooltip-icon {
    font-size: 13px;
    color: white;
    position: relative;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    cursor: pointer;
    background-color: #a5a5a5;
    border-radius: 50%;
    padding: 1px 6.5px 1px 6.5px;
}

.tooltip-text {
    display: none;
    font-size: 13px;
    padding: 2px 8px 3px 8px;
    background-color: #a5a5a5;
    color: white;
    font-size: bold;
    border-radius: 5px;
}

.tooltip-icon:hover + .tooltip-text {
    display: unset;
}

.setting_input {
    width: 400px;
}

#namediv #openedx_enrollment_order_id {
    width: 200px;
}

.custom_options_group{
    display: none;
}